WebContent/wsdl/currencymanagementimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CurrencyManagementImplService" targetNamespace="http://service.webservice.cur/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.webservice.cur/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.webservice.cur/" schemaLocation="currencymanagementimpl_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="updateCurrencyResponse">
    <wsdl:part name="parameters" element="tns:updateCurrencyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCurrency">
    <wsdl:part name="parameters" element="tns:updateCurrency">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="conversionResponse">
    <wsdl:part name="parameters" element="tns:conversionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCurrencyResponse">
    <wsdl:part name="parameters" element="tns:addCurrencyResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="conversion">
    <wsdl:part name="parameters" element="tns:conversion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addCurrency">
    <wsdl:part name="parameters" element="tns:addCurrency">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CurrencyManagement">
    <wsdl:operation name="conversion">
      <wsdl:input name="conversion" message="tns:conversion">
    </wsdl:input>
      <wsdl:output name="conversionResponse" message="tns:conversionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCurrency">
      <wsdl:input name="addCurrency" message="tns:addCurrency">
    </wsdl:input>
      <wsdl:output name="addCurrencyResponse" message="tns:addCurrencyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCurrency">
      <wsdl:input name="updateCurrency" message="tns:updateCurrency">
    </wsdl:input>
      <wsdl:output name="updateCurrencyResponse" message="tns:updateCurrencyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyManagementImplServiceSoapBinding" type="tns:CurrencyManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="conversion">
      <soap:operation soapAction="urn:Conversion" style="document"/>
      <wsdl:input name="conversion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="conversionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCurrency">
      <soap:operation soapAction="urn:AddCurrency" style="document"/>
      <wsdl:input name="addCurrency">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCurrencyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCurrency">
      <soap:operation soapAction="urn:UpdateCurrency" style="document"/>
      <wsdl:input name="updateCurrency">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCurrencyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyManagementImplService">
    <wsdl:port name="CurrencyManagementImplPort" binding="tns:CurrencyManagementImplServiceSoapBinding">
      <soap:address location="http://localhost:8088/designersWS/services/CurrencyManagementImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
